.container {
  height: calc(100vh - 100px);
}

/* BGC */
.bgc-g {
  background-color: #d5f9ba;
}

.bgc-blue {
  background-color: #8edafc;
}

.bgc-w {
  background-color: #ffffff;
}

.bgc-grey {
  background-color: #eaeaea;
}

.bgc-message {
  background-color: #f3eeea;
}

.bgc-wg {
  background-color: #fafafa;
}
/* WRAPPER */

.wrapper {
  height: 100vh;
  overflow: hidden;
  background: rgb(0, 150, 136);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 136, 1) 19%,
    rgba(217, 219, 213, 1) 19%
  );
}

/* ROW */
.row {
  border: 1px solid black;
}

/* User-Bar */
.userNav {
  height: 70px;
}

.userNav img {
  width: 60px;
  border-radius: 50%;
}

/* User-Notify */
.userAlerts {
  height: 90px;
}
#bell {
  border-radius: 50%;
  background-color: white;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8edafc;
}

/* SearchBar */
