.container {
  height: calc(100vh - 100px);
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  background: rgb(0, 150, 136);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 136, 1) 19%,
    rgba(217, 219, 213, 1) 19%
  );
}

.row {
  border: 1px solid black;
}
